* {
 font-size: 11px;
 font-family: Arial;
}

.title {
 font-size: 24px;
 font-family: Arial;
 text-align: center;
}

.pNombre {
 font-size: 12px;
 text-align: left;
 color: #881122;
}

.pApellido {
 font-size: 12px;
 font-family: Arial;
 color: #881122;
 font-weight: bold; 
}

.pNacimiento {
 font-size: 12px;
 font-family: Arial;
 color: #555555;
 font-weight: bold; 
}


.pPadre {
 font-size: 12px;
 font-family: Arial;
 color: #114477;
}

.pMadre {
 font-size: 12px;
 font-family: Arial;
 color: #aa5500;
}

.pPadrino {
 font-size: 12px;
 font-family: Arial;
 color: #114477;
}

.pMadrina {
 font-size: 12px;
 font-family: Arial;
 color: #aa5500;
}

.pObservacion {
 font-size: 12px;
 font-family: Arial;
 font-style: italic; 
 color: #555555;
}

.pField {
 font-size: 11px;
 font-family: Arial;
 color: #333333;
}

.pData {
 font-size: 12px;
 font-family: Arial;
 color: #2f4f4f;
}

rect {
  fill: transparent;
/*  shape-rendering: crispEdges; */
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.linkLine {
  fill: none;
  stroke: rgba(107, 0, 0, 0.15);
  stroke-width: 2px;
}


.rect {
  fill-opacity: .7;
  stroke-width: 1;
  stroke-opacity: .8;  
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  font-family: "sans-serif";  
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
