* {
 font-size: 12px;
 font-family: "Lato", sans-serif;
}

/* Text styles */
.title {
 font-size: 24px;
 text-align: center;
 font-weight: bold; 
 color: #fff;
 background-color: #222;
 margin:0px;
 padding: 12px;
 border-radius: 6px;
}

.footer {
 font-size: 11px;
 text-align: center;
 color: #222;
 background-color: #eee;
 margin:0px;
 padding: 4px;
 border-radius: 4px;
}

a:link {
    color: #C00;
}
a:visited {
    color: #C00;
}
a:hover {
    color: #F00;
}

input[type=text] {
    padding: 3px 8px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #ccc;
    border: none;
    color: #222;
    border-radius: 4px;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 24px;
    cursor: pointer;
}

.instructions {
 font-size: 10px;
 color: #000;
}

.pGroup {
 font-size: 12px;
 text-align: left;
 font-weight: bold; 
 color: #222;
 background-color: #ccc;
 margin:0px;
 padding: 4px;
 border-radius: 4px;
}

.personInfo {
   margin:8px 14px;
}

.pNombre {
 font-size: 12px;
 text-align: left;
 color: #881122;
}

.pApellido {
 font-size: 12px;
 color: #881122;
 font-weight: bold; 
}

.pNacimiento {
 font-size: 12px;
 color: #555555;
 font-weight: bold; 
}

.pPadre {
 font-size: 12px;
 color: #114477;
}

.pMadre {
 font-size: 12px;
 color: #aa5500;
}

.pPadrino {
 font-size: 12px;
 color: #114477;
}

.pMadrina {
 font-size: 12px;
 color: #aa5500;
}

.pObservacion {
 font-size: 12px;
 font-style: italic; 
 color: #555555;
}

.pField {
 font-size: 11px;
 color: #333333;
}

.pData {
 font-size: 12px;
 color: #2f4f4f;
}

/* Graphic styles */
rect {
  fill: transparent;
/*  shape-rendering: crispEdges; */
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.linkLine {
  fill: none;
  stroke: rgba(107, 0, 0, 0.15);
  stroke-width: 2px;
}


.rect {
  fill-opacity: .7;
  stroke-width: 1;
  stroke-opacity: .8;  
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
